footer {
    background-color: white;
    position: static;
    bottom: 0;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
  }
  .text-footer {
    font-weight: 400;
    text-align: center;
  }